html, body{
    height: 100%;
    margin: 0px;
    background-color: rgb(255, 238, 238);
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 20px;
}
.container > .header{
    background-color: darkolivegreen;
}
.container > .menu{
    background-color: darkslategray;
}
.container > .content{
    background-color: darkred;
}
.container > .footer{
    background-color: darksalmon;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [menu-start content-start] auto [menu-end content-end footer-start] 40px [main-end footer-end];
    gap: 5px;
    margin: 3px;
}

.container > .header{
    grid-column: main-start / main-end;
}
.container > .footer{
    grid-column: main-start / content-end;
}
.container > .content{
    grid-column: content-start / content-end;
}
.container > .menu{
    grid-row: menu-start / menu-end;
}